streamlit
pysubs2
pypinyin
fugashi
unidic-lite
langdetect
langcodes
language_data
ffmpeg-python
pycantonese
opencc-python-reimplemented
pytesseract
Pillow
playwright
korean-romanizer
cyrtranslit
pythainlp
